* {
  margin: 0%;
  padding: 0%;
}
.header-top {
  display: flex;
  justify-content: end;
  height: 45px;
  background-color: rgb(250, 250, 250);
  font-size: 22px;
}
.userLogin {
  margin-right: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.sep {
  margin-right: 15px;
  margin-left: 5px;
}
.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  color: #ffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.5px;
  height: 70px;
  font-family: sans-serif;
}
.header-headerSection1 {
  display: flex;
  height: 80px;
  align-items: center;
  margin-left: 20px;
}
.logo img {
  height: 55px;
  width: 140%;
}
.header-more-wrapper {
  font: 2em sans-serif;
  margin-right: 10px;
}
.header-headerSection2 {
  display: flex;
}
.location-wrapper {
  font: 1.5em sans-serif;
  display: flex;
}
.location-wrapper-house {
  margin-right: 10px;
}
.location-wrapper-greater {
  margin-right: 10px;
}
.header-headerSection2-search {
  display: flex;
  align-items: center;
  margin-left: 82px;
  margin-right: 65px;
}
.header2-searchBar {
  height: 50px;
  width: 574px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.search {
  margin-top: 4px;
  height: 50px;
  width: 79px;
  border: none;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
.cartDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.cart_icon{
  font: 1.35em sans-serif;
}
.bag-item-count{
  margin-bottom: 22px;
  font: .75em sans-serif;
  background-color: yellow;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 35px;
  text-align: center;
  
  
}
.bag-order{
  font: 0.75em sans-serif;
  margin-right: 10px;
}
.profile{
  font: 1.35em sans-serif;
}
.icon{
  font: 3.75em sans-serif;
}
.items-container {
  /* display: flex; */
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;


}
/* HomeItems-css */
.item-container {
  width: 270px;


}

.item-img {
  width: 200px;
  height: 300px;
}

.rating {
  font-weight: bold;
}

.company-name {
  font-weight: bold;
  margin-top: 10px;
}

.item-name {
  font-size: 10px;
  color: #94969f;
}

.current-price {
  font-weight: bold;
}

.orginal-price {
  font-weight: 2S00;
  color: #94969f;
  font-size: 12px;
  text-decoration: line-through;
}

.discount {
  color: rgb(254, 186, 60);
 
}

.btn-add-bag {
  width: 150px;
  height: 50px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: rgb(195, 244, 122);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}
.btn-add-bag:active {

 background: #a59696; color:red;
  
  }

